*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
}
.LeftMenu{
    width: 50px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 40px 0 40px 1%;
    -webkit-box-shadow: 6px 0px 18px -6px rgba(97,94,97,1);
    -moz-box-shadow: 6px 0px 18px -6px rgba(97,94,97,1);
    box-shadow: 6px 0px 18px -6px rgba(97,94,97,1);;
    border-right: solid 3px rgb(35, 130, 247);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

.ExpandButton{
    width: 100%;
    padding-left: 10px;
}
.ExpandButton > i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    margin-left: -8px;
}
ul{
    height: 100%;
    list-style-type: none;
}

ul li.ItemMenu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.ItemMenu{
    transition: 0.3s açç;
}

ul li.ItemMenu:hover{
    background-color: rgb(35, 130, 247);
}

a .txt{
    margin-left: 40px;
    transition: .5s;
}

a .IconMenu > i{
    font-size: 30px;
}
